{% extends 'layout.html' %} {% block container %}


<div class="container">
    <form action="/analyze" method="post">{% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter your text here</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="removepunc" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Remove Punctuations </label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="fullcaps" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"> UPPERCASE</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="newlineremover" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">New line Remover </label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="extraspaceremover" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Extra Space Remover </label>
        </div><br>
        <button type="submit " class="btn btn-success">Analyze Text</button>
    </form>
</div>


{% endblock %}